{% extends 'basic.html' %}

{% block content %}
{% load static %}

  {% include 'streamer.html' %}

  {% include 'shipping-info.html' %}

    <section id="about-us">
      <div class="container ">
        <div class="row d-flex align-items-center">
          <div class="col-lg-6 col-md-12">
            <div class="image-holder">
              <img src="{% static 'optics/images/single-image1.png' %}" alt="single" class="about-image">
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="">
              <div class="section-title">
                <h3>ОПТИКА СИТИ</h3>
                <h4>почему выбирают нас</h4>
                <p>	Наша приверженность совершенству начинается с инвестиций в современное оборудование. Мы понимаем, что точность и аккуратность имеют первостепенное значение в офтальмологии, поэтому мы оснастили наши учреждения новейшими достижениями в области оптических технологий. Это позволяет нам предлагать комплексные проверки зрения, точные рецепты и широкий ассортимент очков, адаптированных к уникальным потребностям каждого клиента.
                <br>
                <br>
					В ОПТИКА СИТИ считают, что каждая пара глаз так же уникальна, как и человек, который смотрит через них. Вот почему мы применяем индивидуальный подход к уходу за глазами. Наша команда уделяет время изучению вашего образа жизни, предпочтений и особых потребностей в области зрения. Независимо от того, являетесь ли вы спортсменом, профессионалом или ценителем модных очков, мы подбираем варианты, которые идеально соответствуют вашему индивидуальному стилю и требованиям.
                <br>
				<br>
					Смотря в будущее, ОПТИКА СИТИ по-прежнему стремится расширять границы возможного в области ухода за глазами. Наша история — это история постоянной эволюции, движимая нашим желанием предоставить лучшее для наших клиентов. Мы гордимся тем, что создали наследие доверия и качества, и мы стремимся поддерживать эти стандарты на протяжении многих лет. </p>
                <div class="btn-wrap">
                  <a href="{% url 'optics:service-list' %}" type="button" class="btn btn-grey btn-full" tabindex="0">Запишитесь на проверку<i class="icon icon-arrow-io"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}