{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load optics_tags %}
<section id="billboard" class="overflow-hidden">

    <button class="button-prev">
        <i class="icon icon-chevron-left"></i>
    </button>
    <button class="button-next">
        <i class="icon icon-chevron-right"></i>
    </button>
    <div class="swiper main-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"
                 style="background-image: url('{% static 'optics/images/banner1.jpg' %}');background-repeat: no-repeat;background-size: cover;background-position: center;">
                <div class="banner-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="banner-title">Summer Collection</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero
                                    ipsum enim pharetra hac.</p>
                                <div class="btn-wrap">
                                    <a href="shop.html" class="btn btn-light btn-medium d-flex align-items-center"
                                       tabindex="0">Shop it now <i class="icon icon-arrow-io"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide"
                 style="background-image: url('{% static 'optics/images/banner2.jpg' %}');background-repeat: no-repeat;background-size: cover;background-position: center;">
                <div class="banner-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="banner-title">Casual Collection</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero
                                    ipsum enim pharetra hac.</p>
                                <div class="btn-wrap">
                                    <a href="shop.html"
                                       class="btn btn-light btn-light-arrow btn-medium d-flex align-items-center"
                                       tabindex="0">Shop it now <i class="icon icon-arrow-io"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'testimonials.html' %}

<section id="featured-products" class="product-store padding-large">
    <div class="container">
        <div class="section-header d-flex flex-wrap align-items-center justify-content-between">
            <h2 class="section-title">Наши услуги</h2>
            <div class="btn-wrap">
                <a href="service.html" class="d-flex align-items-center">Посмотреть все услуги <i class="icon icon icon-arrow-io"></i></a>
            </div>
        </div>
                <div class="row d-flex flex-wrap">
                    {% for service in service_list %}
                    <div class="product-item col-lg-3 col-md-6 col-sm-6">
                        <div class="image-holder">
                            {% if service.image %}
                            <img class="card-img-left img-thumbnail" src="{{ service.image|add_media }}">
                            {% endif %}
                        </div>
                        <div class="cart-concern">
                            <div class="cart-button d-flex justify-content-between align-items-center">
                                <button type="button" class="btn-wrap cart-link d-flex align-items-center">add to cart
                                    <i class="icon icon-arrow-io"></i>
                                </button>
                                <button type="button" class="view-btn tooltip d-flex">
                                    <i class="icon icon-screen-full"></i>
                                    <span class="tooltip-text">Quick view</span>
                                </button>
                                <button type="button" class="wishlist-btn">
                                    <i class="icon icon-heart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-detail">
                            <h4 class="product-title">
                                <a href="single-product.html">{{ service.name }}</a>
                            </h4>
                            <div class="item-price text-primary">P {{ service.price }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
</section>

<section id="selling-products" class="product-store bg-light-grey padding-large">
    <div class="container">
        <div class="section-header d-flex flex-wrap align-items-center justify-content-between">
            <h2 class="section-title">Наши товары</h2>
            <div class="btn-wrap">
                <a href="shop.html" class="d-flex align-items-center">Посмотреть все товары <i class="icon icon icon-arrow-io"></i></a>
            </div>
        </div>        <ul class="tabs list-unstyled">
            {% for category in category_list %}
            <li data-tab-target="#{{ category.name }}" class="tab">{{ category.name }}</li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for object in object_list %}
            <div id="{{ object.category.name }}" data-tab-content {% if object.category.active_on_main_page %} class="active" {% endif %}>
                <div class="row d-flex flex-wrap">
                    {% for product in object.product_list %}
                    <div class="product-item col-lg-3 col-md-6 col-sm-6">
                        <div class="image-holder">
                            {% if product.image %}
                            <img class="card-img-left img-thumbnail" src="{{ product.image|add_media }}">
                            {% endif %}
                        </div>
                        <div class="cart-concern">
                            <div class="cart-button d-flex justify-content-between align-items-center">
                                <button type="button" class="btn-wrap cart-link d-flex align-items-center">add to cart
                                    <i class="icon icon-arrow-io"></i>
                                </button>
                                <button type="button" class="view-btn tooltip d-flex">
                                    <i class="icon icon-screen-full"></i>
                                    <span class="tooltip-text">Quick view</span>
                                </button>
                                <button type="button" class="wishlist-btn">
                                    <i class="icon icon-heart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-detail">
                            <h3 class="product-title">
                                <a>{{ product.brand }}</a>
                            </h3>
                            <h4 class="product-title">
                                <a href="single-product.html">{{ product.name }}</a>
                            </h4>
                            <div class="item-price text-primary">P {{ product.price }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'quotation.html' %}

{% include 'shipping-info.html' %}

<hr>
<section id="latest-blog" class="padding-large">
    <div class="container">
        <div class="section-header d-flex flex-wrap align-items-center justify-content-between">
            <h2 class="section-title">наш Блог</h2>
            <div class="btn-wrap align-right">
                <a href="blog.html" class="d-flex align-items-center">Все статьи <i class="icon icon icon-arrow-io"></i>
                </a>
            </div>
        </div>
        <div class="row d-flex flex-wrap">
            <article class="col-md-4 post-item">
                <div class="image-holder zoom-effect">
                    <a href="single-post.html">
                        <img src="{% static 'optics/images/post-img1.jpg' %}" alt="post" class="post-image">
                    </a>
                </div>
                <div class="post-content d-flex">
                    <div class="meta-date">
                        <div class="meta-day text-primary">22</div>
                        <div class="meta-month">Aug-2021</div>
                    </div>
                    <div class="post-header">
                        <h3 class="post-title">
                            <a href="single-post.html">top 10 casual look ideas to dress up your kids</a>
                        </h3>
                        <a href="blog.html" class="blog-categories">Fashion</a>
                    </div>
                </div>
            </article>
            <article class="col-md-4 post-item">
                <div class="image-holder zoom-effect">
                    <a href="single-post.html">
                        <img src="{% static 'optics/images/post-img2.jpg' %}" alt="post" class="post-image">
                    </a>
                </div>
                <div class="post-content d-flex">
                    <div class="meta-date">
                        <div class="meta-day text-primary">25</div>
                        <div class="meta-month">Aug-2021</div>
                    </div>
                    <div class="post-header">
                        <h3 class="post-title">
                            <a href="single-post.html">Latest trends of wearing street wears supremely</a>
                        </h3>
                        <a href="blog.html" class="blog-categories">Trending</a>
                    </div>
                </div>
            </article>
            <article class="col-md-4 post-item">
                <div class="image-holder zoom-effect">
                    <a href="single-post.html">
                        <img src="{% static 'optics/images/post-img3.jpg' %}" alt="post" class="post-image">
                    </a>
                </div>
                <div class="post-content d-flex">
                    <div class="meta-date">
                        <div class="meta-day text-primary">28</div>
                        <div class="meta-month">Aug-2021</div>
                    </div>
                    <div class="post-header">
                        <h3 class="post-title">
                            <a href="single-post.html">types of comfortable clothes ideas for women</a>
                        </h3>
                        <a href="blog.html" class="blog-categories">Inspiration</a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>


{% endblock content %}