{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load optics_tags %}

{% include 'streamer.html' %}

<section id="featured-products" class="product-store padding-large">
    <div class="container">
        <div class="row d-flex flex-wrap">
            {% for service in object_list %}
            <div class="product-item col-lg-3 col-md-6 col-sm-6">
                <div class="image-holder">
                    {% if service.image %}
                    <img class="card-img-left img-thumbnail" src="{{ service.image|add_media }}">
                    {% endif %}
                </div>
                <div class="cart-concern">
                    <div class="cart-button d-flex justify-content-between align-items-center">
                        <button type="button" class="btn-wrap cart-link d-flex align-items-center">записаться
                            <i class="icon icon-arrow-io"></i>
                        </button>
                    </div>
                </div>
                <div class="product-detail">
                    <h4 class="product-title">
                        <a href="{% url 'optics:service-detail' service.pk %}">{{ service.name }}</a>
                    </h4>
                    <div class="item-price text-primary">P {{ service.price }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <nav class="navigation paging-navigation text-center padding-medium" role="navigation">
        <div class="pagination loop-pagination d-flex justify-content-center">
            <a href="#" class="pagination-arrow d-flex align-items-center">
                <i class="icon icon-arrow-left"></i>
            </a>
            <span aria-current="page" class="page-numbers current">1</span>
            <a class="page-numbers" href="#">2</a>
            <a class="page-numbers" href="#">3</a>
            <a href="#" class="pagination-arrow d-flex align-items-center">
                <i class="icon icon-arrow-right"></i>
            </a>
        </div>
    </nav>
    </div>
</section>
<hr>

{% include 'testimonials.html' %}

{% endblock content %}