{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load optics_tags %}

{% include 'streamer.html' %}
{% include 'shipping-info.html' %}


<div class="shopify-grid padding-large">
    <div class="container">
        <div class="row">

            <section id="selling-products" class="col-md-9 product-store">
                <div class="container">
                    <ul class="tabs list-unstyled">
                        {% for category in category_list %}
                        <li data-tab-target="#{{ category.name }}" class="tab">{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for object in object_list %}
                        <div id="{{ object.category.name }}" data-tab-content {% if object.category.active_on_main_page %} class="active" {% endif %}>
                            <div class="row d-flex flex-wrap">
                                {% for product in object.page_obj %}
                                <div id="product_{{ product.pk }}" class="product-item col-lg-3 col-md-6 col-sm-6">
                                    <div class="image-holder">
                                        {% if product.image %}
                                        <img class="card-img-left img-thumbnail" src="{{ product.image|add_media }}">
                                        {% endif %}
                                    </div>
                                    <div class="cart-concern">
                                        <div class="cart-button d-flex justify-content-between align-items-center">
                                            <a href="{% url 'cart:cart_add' product.pk %}" type="button" class="btn-wrap cart-link d-flex align-items-center">
                                                add to cart
                                                <i class="icon icon-arrow-io"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-detail">
                                        <h3 class="product-title">
                                            <a>{{ product.brand }}</a>
                                        </h3>
                                        <h4 class="product-title">
                                            <a href="single-product.html">{{ product.name }}</a>
                                        </h4>
                                        <div class="item-price text-primary">P {{ product.price }}</div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        {% include 'page-panel-product.html' %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <aside class="col-md-3">
                <div class="sidebar">
                    <div class="widgets widget-menu">
                        <div class="widget-search-bar">
                            <form role="search" method="get" class="d-flex">
                                <input class="search-field" placeholder="Search" type="text">
                                <button class="btn btn-dark"><i class="icon icon-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="widgets widget-product-tags">
                        <h5 class="widget-title">Tags</h5>
                        <ul class="product-tags sidebar-list list-unstyled">
                            <li class="tags-item">
                                <a href="">White</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Cheap</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Branded</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Modern</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Simple</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widgets widget-product-brands">
                        <h5 class="widget-title">Brands</h5>
                        <ul class="product-tags sidebar-list list-unstyled">
                            <li class="tags-item">
                                <a href="">Nike</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Adidas</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Puma</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Spike</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widgets widget-price-filter">
                        <h5 class="widget-title">Filter By Price</h5>
                        <ul class="product-tags sidebar-list list-unstyled">
                            <li class="tags-item">
                                <a href="">Less than $10</a>
                            </li>
                            <li class="tags-item">
                                <a href="">$10- $20</a>
                            </li>
                            <li class="tags-item">
                                <a href="">$20- $30</a>
                            </li>
                            <li class="tags-item">
                                <a href="">$30- $40</a>
                            </li>
                            <li class="tags-item">
                                <a href="">$40- $50</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>

        </div>
    </div>
</div>

{% endblock content %}