{% extends 'basic.html' %}

{% block content %}
{% load static %}

<section id="thank-you" class="padding-large bg-light-grey">
    <div class="container">
        <div class="row">
            <div class="page-header col-md-6">
                <div class="section-header">
                    <h1 class="page-title">Запись на услугу</h1>
                    <div class="detail">
                        <h3>{{ service.name }}</h3>
                        <p> {{ medic.fio }} ({{ medic.profession }})</p>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <p>{{ form.appointment_day.label }}: {{ form.appointment_day }}</p>
                        <div class="button-area col-md-10">
                            <button class="btn btn-dark btn-full" type="submit">Следующий шаг</button>
                            <a href="{% url 'appointment:step-1' %}?service_pk={{ service.pk }}"
                               type="button" class="btn btn-grey btn-full">Назад</a>
                        </div>
                        {{ form.service_pk }}
                        {{ form.medic_pk }}
                    </form>
                </div>
            </div>
            <div class="contact-information">
                <div class="col-md-6">
                    <div class="section-header">
                        <h2 class="section-title">Свяжитесь с нами</h2>
                    </div>
                    <div class="row">
                        <div class="d-flex flex-wrap bg-light">
                            <div class="col-md-6 border-right border-bottom">
                                <div class="detail">
                                    <h3>Телефоны</h3>
                                    <ul class="list-unstyled">
                                        <li>
                                            <i class="icon icon-phone"></i>+1650-243-00023
                                        </li>
                                        <li>
                                            <i class="icon icon-phone"></i>+1650-243-00021
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 border-bottom">
                                <div class="detail">
                                    <h3>Почта</h3>
                                    <ul class="list-unstyled">
                                        <li>
                                            <i class="icon icon-envelope"></i>
                                            <a href="mailto:info@yourcompany.com">info@yourcompany.com</a>
                                        </li>
                                        <li>
                                            <i class="icon icon-envelope"></i>
                                            <a href="mailto:info@opticsystems.top">info@opticsystems.top</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 border-right">
                                <div class="address detail">
                                    <h3>Адрес</h3>
                                    <ul class="list-unstyled">
                                        <li>
                                            <i class="icon icon-location"></i>
                                            <span>г.Сафоново, Смоленская область, ул.Кирова 12</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="detail">
                                    <h3>Social Links</h3>
                                    <ul class="social-links list-unstyled d-flex">
                                        <li><a href="#" class="icon icon-facebook"></a></li>
                                        <li><a href="#" class="icon icon-twitter"></a></li>
                                        <li><a href="#" class="icon icon-youtube-play"></a></li>
                                        <li><a href="#" class="icon icon-behance-square"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% include 'shipping-info.html' %}

{% endblock content %}