{% extends 'basic.html' %}

{% block content %}
{% load static %}

    <section id="thank-you" class="padding-large bg-light-grey">
      <div class="container">
        <div class="row">
          <div class="page-header col-md-6">
            <div class="section-header">
              <h1 class="page-title">Вы записаны!</h1>
                    <div class="detail">
                        <h3>{{ service.name }}</h3>
                        <p> {{ medic.fio }} ({{ medic.profession }})</p>
                        <p>
                            На дату: {{ date }}
                            Время : {{ slot }}
                        </p>
                    </div>
            </div>
          </div>
          {% include 'contacts.html' %}
        </div>
      </div>

    </section>

  {% include 'shipping-info.html' %}

  {% endblock content %}