{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load cart_tags %}

{% include 'streamer.html' %}

<section id="card-list" class="product-store padding-large">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h3>Записи на прием и результаты</h3>
                <table class="u-full-width">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                        <th>Unit price</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart %}
                    {% with product=item.product %}
                    <tr class="mt-auto" >
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                {% if product.image %}
                                <img class="card-img-left" width="200" src="{{ product.image|add_media }}">
                                {% endif %} </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            <a href="{% url 'cart:cart_remove' product.id %}">
                            Удалить
                            </a>
                        </td>
                        <td class="num">${{ item.price }}</td>
                        <td class="num">${{ item.total_price }}</td>
                    </trclas>
                    {% endwith %}
                    {% endfor %}
                    <tr class="total">
                        <td>Total</td>
                        <td colspan="4"></td>
                        <td class="num">${{ cart.get_total_price }}</td>
                    </tr>
                    </tbody>
                </table>
                <p class="text-right">
                    <a href="{% url 'optics:shop-list' %}" class="button light">Continue shopping</a>
                    <a href="#" class="button">Checkout</a>
                </p>
            </div>
        </div>
    </div>
</section>
<hr>

{% include 'shipping-info.html' %}

{% endblock content %}