{% extends 'basic.html' %}

{% block content %}
{% load blog_tags %}

{% include 'streamer.html' %}

<section id="latest-blog" class="post-grid padding-large">
    <div class="container">
        <div class="row d-flex flex-wrap">
            {% for object in object_list %}
            <article class="col-md-4 post-item">
                <div class="image-holder zoom-effect">
                    <a href="{% url 'blog:blog_detail' object.slug %}">
                        {% if object.image %}
                        <img class="card-img-left img-thumbnail" src="{{ object.image|add_media }}">
                        {% endif %}
                    </a>
                </div>
                <div class="post-content d-flex">
                    <div class="meta-date">
                        <div class="meta-day text-primary">{{object.created_at|date:'d'}}</div>
                        <div class="meta-month">{{object.created_at|date:'b-Y'}}</div>
                    </div>
                    <div class="post-header">
                        <h3 class="post-title">
                            <a href="{% url 'blog:blog_detail' object.slug  %}">{{ object.title }}</a>
                        </h3>
                        <a class="blog-categories">{{ object.short_content }}</a>
                    </div>
                </div>
            </article>
            {% endfor %}
            <nav class="navigation paging-navigation text-center padding-medium" role="navigation">
                <div class="pagination loop-pagination d-flex justify-content-center">
                    <a href="#" class="pagination-arrow d-flex align-items-center">
                        <i class="icon icon-arrow-left"></i>
                    </a>
                    <span aria-current="page" class="page-numbers current">1</span>
                    <a class="page-numbers" href="#">2</a>
                    <a class="page-numbers" href="#">3</a>
                    <a href="#" class="pagination-arrow d-flex align-items-center">
                        <i class="icon icon-arrow-right"></i>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</section>

{% endblock content %}



