{% extends 'basic.html' %}

{% block content %}
{% load static %}
{% load blog_tags %}

{% include 'streamer.html' %}

{% include 'shipping-info.html' %}

<div class="main-content d-flex flex-wrap padding-large">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="post-meta">
                    <span class="post-date">{{object.created_at|date:'d b Y'}}</span> / <a href="{% url 'blog:blog_list' %}" class="blog-categories">Блог</a>
                </div>
                <h1 class="page-title">{{ object.title }}</h1>
                <div class="feature-image">
                    {% if object.image %}
                    <img class="card-img-left img-thumbnail" src="{{ object.image|add_media }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="post-content">
                    <p>{{ object.content }}</p>
                    <div class="social-links d-flex margin-small">
                        <div class="element-title">Поделиться:</div>
                        <ul class="d-flex list-unstyled">
                            <li>
                                <a href="#"><i class="icon icon-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon icon-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon icon-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon icon-youtube-play"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="single-post-navigation">
                    <hr>
                    <div class="row post-navigation d-flex flex-wrap align-items-center justify-content-between">
                        {% if object.get_previous_by_created_at %}
                        <a itemprop="url" class="col-md-6 post-prev d-flex" href="{% url 'blog:blog_detail' object.get_previous_by_created_at.slug %}" title="Previous Post">
                            <span>Предыдущая</span>
                            <h3 class="page-nav-title">{{ object.get_previous_by_created_at.title }}</h3>
                        </a>
                        {% endif %}
                        {% if object.get_next_by_created_at %}
                        <a itemprop="url" class="col-md-6 post-next d-flex" href="{% url 'blog:blog_detail' object.get_next_by_created_at.slug %}" title="Next Post">
                            <span>Следующая</span>
                            <h3 class="page-nav-title">{{ object.get_next_by_created_at.title }}</h3>
                        </a>
                        {% endif %}
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}